{% extends '::backoffice.html.twig' %}

{% block title 'Dashboard' %}

{% block content %}
    <div class="mdl-cell mdl-cell--14-col">
        <div class="mdl-card  mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand mdl-color--cyan-300">
                <h2 class="mdl-card__title-text">Welcome</h2>
            </div>
        </div>
    </div>
{% endblock %}
