<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Connect - didier.io{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% set flashes = app.session.flashbag.all %}

        {% if  flashes | length > 0 %}
            <div class="flash-messages">
            {% for type, messages in flashes %}
                {% for message in messages %}
                    <p class="alert alert-{{ type }}">
                        {{ message | raw }}
                    </p>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
