{% extends '::base.html.twig' %}

{% block body %}
    <h1>
        Create client
    </h1>

    <div class="form">
        <form id="login" class="vertical" action="{{ path('didier_website_client_create') }}" method="POST">
            {% if null != error|default(null) %}
                <div class='form_error'>{{ error }}</div>
            {% endif %}

            {{ form_rest(form) }}

            <div class="form_button">
                <input type="submit" id="_submit" name="_submit" value="Create" />
            </div>
        </form>
    </div>
{% endblock %}
