{% extends '::backoffice.html.twig' %}

{% form_theme form 'form/backoffice_layout.html.twig' %}

{% block title "Create client" %}

{% block content %}
  <div class="demo-cards mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand mdl-color--white">
        <form action="{{ path('didier_website_client_create') }}" method="POST">
                {{ form_rest(form) }}

            <input type="submit" id="_submit" name="_submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" value="Create" />
        </form>
    </div>
    </div>
{% endblock %}
