{% extends '::base.html.twig' %}

{% block body %}
    <h1>
        Edit access token #{{ accessToken.id }}
    </h1>

    <div class="form">
        <form class="vertical" action="{{ path('didier_website_access_token_edit', {id: accessToken.id}) }}" method="POST">
            {{ form_rest(form) }}

            <div class="form_button">
                <input type="submit" id="_submit" name="_submit" value="Create" />
            </div>
        </form>
    </div>
    <a href="{{ path('didier_website_access_token_list') }}">Back to list</a>
{% endblock %}
